
/.htaccess

/vendor

node_modules

bower_components

haik-contents/config/haik.ini.php
haik-contents/config/form_*
haik-contents/config/*.sqlite

haik-contents/css/custom_style.css
haik-contents/css/haik.css
haik-contents/css/admin.css

haik-contents/md/*.md

haik-contents/upload/*
!haik-contents/upload/thumbnail/
haik-contents/upload/thumbnail/*
!haik-contents/upload/thumbnail/empty

haik-contents/theme/*/
!haik-contents/theme/setting/
haik-contents/lib/skel/theme/*/
!haik-contents/lib/skel/theme/.gitkeep

haik-contents/meta/*.php

haik-contents/diff/*.txt

haik-contents/backup/*.gz

haik-contents/cache/*
!haik-contents/cache/.htaccess
!haik-contents/cache/entities.dat
