
/.htaccess

/vendor

haik-contents/config/haik.ini.php
haik-contents/config/form_*
haik-contents/config/*.sqlite

haik-contents/css/custom_style.css

haik-contents/wiki/*.txt

haik-contents/upload/*
!haik-contents/upload/thumbnail/
haik-contents/upload/thumbnail/*
!haik-contents/upload/thumbnail/empty

haik-contents/skin/*/
!haik-contents/skin/setting/
haik-contents/lib/skel/skin/*/
!haik-contents/lib/skel/skin/.gitkeep

haik-contents/meta/*.php

haik-contents/diff/*.txt

haik-contents/backup/*.gz

haik-contents/cache/*
!haik-contents/cache/.htaccess
!haik-contents/cache/entities.dat
