@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="orgm-icon-"] {
*/
.orgm-icon-home, .orgm-icon-bubbles, .orgm-icon-search, .orgm-icon-zoom-in, .orgm-icon-zoom-out, .orgm-icon-cogs, .orgm-icon-cog, .orgm-icon-hammer, .orgm-icon-stats, .orgm-icon-remove, .orgm-icon-hammer-2, .orgm-icon-truck, .orgm-icon-download, .orgm-icon-upload, .orgm-icon-earth, .orgm-icon-link, .orgm-icon-flag, .orgm-icon-attachment, .orgm-icon-eye, .orgm-icon-eye-blocked, .orgm-icon-eye-2, .orgm-icon-smiley, .orgm-icon-smiley-2, .orgm-icon-point-right, .orgm-icon-point-down, .orgm-icon-point-left, .orgm-icon-point-up, .orgm-icon-warning, .orgm-icon-notification, .orgm-icon-question, .orgm-icon-info, .orgm-icon-info-2, .orgm-icon-cancel-circle, .orgm-icon-checkmark-circle, .orgm-icon-spam, .orgm-icon-close, .orgm-icon-checkmark, .orgm-icon-minus, .orgm-icon-checkmark-2, .orgm-icon-plus, .orgm-icon-play, .orgm-icon-pause, .orgm-icon-stop, .orgm-icon-backward, .orgm-icon-forward, .orgm-icon-play-2, .orgm-icon-pause-2, .orgm-icon-stop-2, .orgm-icon-backward-2, .orgm-icon-forward-2, .orgm-icon-first, .orgm-icon-last, .orgm-icon-previous, .orgm-icon-next, .orgm-icon-eject, .orgm-icon-volume-high, .orgm-icon-volume-medium, .orgm-icon-volume-low, .orgm-icon-volume-mute, .orgm-icon-volume-mute-2, .orgm-icon-volume-increase, .orgm-icon-volume-decrease, .orgm-icon-loop, .orgm-icon-loop-2, .orgm-icon-shuffle, .orgm-icon-arrow-up-left, .orgm-icon-arrow-up, .orgm-icon-arrow-up-right, .orgm-icon-arrow-right, .orgm-icon-arrow-down-right, .orgm-icon-arrow-down, .orgm-icon-arrow-down-left, .orgm-icon-arrow-left, .orgm-icon-arrow-up-left-2, .orgm-icon-arrow-up-2, .orgm-icon-arrow-up-right-2, .orgm-icon-arrow-right-2, .orgm-icon-arrow-down-right-2, .orgm-icon-arrow-down-2, .orgm-icon-arrow-down-left-2, .orgm-icon-arrow-left-2, .orgm-icon-tab, .orgm-icon-checkbox-checked, .orgm-icon-checkbox-unchecked, .orgm-icon-checkbox-partial, .orgm-icon-radio-checked, .orgm-icon-radio-unchecked, .orgm-icon-crop, .orgm-icon-scissors, .orgm-icon-text-height, .orgm-icon-text-width, .orgm-icon-bold, .orgm-icon-underline, .orgm-icon-italic, .orgm-icon-table, .orgm-icon-table-2, .orgm-icon-paragraph-center, .orgm-icon-paragraph-right, .orgm-icon-paragraph-left, .orgm-icon-paragraph-justify, .orgm-icon-paragraph-left-2, .orgm-icon-paragraph-center-2, .orgm-icon-paragraph-right-2, .orgm-icon-paragraph-justify-2, .orgm-icon-mail, .orgm-icon-mail-2, .orgm-icon-google, .orgm-icon-google-plus, .orgm-icon-google-plus-2, .orgm-icon-google-plus-3, .orgm-icon-google-plus-4, .orgm-icon-google-drive, .orgm-icon-facebook, .orgm-icon-facebook-2, .orgm-icon-facebook-3, .orgm-icon-instagram, .orgm-icon-twitter, .orgm-icon-twitter-2, .orgm-icon-twitter-3, .orgm-icon-feed, .orgm-icon-feed-2, .orgm-icon-feed-3, .orgm-icon-youtube, .orgm-icon-youtube-2, .orgm-icon-vimeo, .orgm-icon-vimeo2, .orgm-icon-vimeo-2, .orgm-icon-lanyrd, .orgm-icon-flickr, .orgm-icon-flickr-2, .orgm-icon-flickr-3, .orgm-icon-flickr-4, .orgm-icon-picassa, .orgm-icon-picassa-2, .orgm-icon-dribbble, .orgm-icon-dribbble-2, .orgm-icon-dribbble-3, .orgm-icon-forrst, .orgm-icon-forrst-2, .orgm-icon-deviantart, .orgm-icon-deviantart-2, .orgm-icon-steam, .orgm-icon-steam-2, .orgm-icon-github, .orgm-icon-github-2, .orgm-icon-github-3, .orgm-icon-github-4, .orgm-icon-github-5, .orgm-icon-wordpress, .orgm-icon-wordpress-2, .orgm-icon-joomla, .orgm-icon-blogger, .orgm-icon-blogger-2, .orgm-icon-tumblr, .orgm-icon-tumblr-2, .orgm-icon-yahoo, .orgm-icon-tux, .orgm-icon-apple, .orgm-icon-finder, .orgm-icon-android, .orgm-icon-windows, .orgm-icon-windows8, .orgm-icon-soundcloud, .orgm-icon-soundcloud-2, .orgm-icon-skype, .orgm-icon-reddit, .orgm-icon-linkedin, .orgm-icon-lastfm, .orgm-icon-lastfm-2, .orgm-icon-delicious, .orgm-icon-stumbleupon, .orgm-icon-stumbleupon-2, .orgm-icon-stackoverflow, .orgm-icon-pinterest, .orgm-icon-pinterest-2, .orgm-icon-xing, .orgm-icon-xing-2, .orgm-icon-flattr, .orgm-icon-foursquare, .orgm-icon-foursquare-2, .orgm-icon-paypal, .orgm-icon-paypal-2, .orgm-icon-paypal-3, .orgm-icon-yelp, .orgm-icon-libreoffice, .orgm-icon-file-pdf, .orgm-icon-file-openoffice, .orgm-icon-file-word, .orgm-icon-file-excel, .orgm-icon-file-zip, .orgm-icon-file-powerpoint, .orgm-icon-file-xml, .orgm-icon-file-css, .orgm-icon-html5, .orgm-icon-html5-2, .orgm-icon-css3, .orgm-icon-chrome, .orgm-icon-firefox, .orgm-icon-IE, .orgm-icon-opera, .orgm-icon-safari, .orgm-icon-IcoMoon, .orgm-icon-pencil, .orgm-icon-image, .orgm-icon-image-2, .orgm-icon-images, .orgm-icon-music, .orgm-icon-headphones, .orgm-icon-play-3, .orgm-icon-film, .orgm-icon-camera, .orgm-icon-dice, .orgm-icon-pacman, .orgm-icon-spades, .orgm-icon-diamonds, .orgm-icon-clubs, .orgm-icon-connection, .orgm-icon-podcast, .orgm-icon-feed-4, .orgm-icon-book, .orgm-icon-books, .orgm-icon-file, .orgm-icon-profile, .orgm-icon-file-2, .orgm-icon-file-3, .orgm-icon-file-4, .orgm-icon-copy, .orgm-icon-copy-2, .orgm-icon-copy-3, .orgm-icon-paste, .orgm-icon-paste-2, .orgm-icon-paste-3, .orgm-icon-stack, .orgm-icon-folder, .orgm-icon-folder-open, .orgm-icon-tag, .orgm-icon-tags, .orgm-icon-barcode, .orgm-icon-qrcode, .orgm-icon-ticket, .orgm-icon-cart, .orgm-icon-cart-2, .orgm-icon-cart-3, .orgm-icon-coin, .orgm-icon-credit, .orgm-icon-calculate, .orgm-icon-support, .orgm-icon-phone, .orgm-icon-phone-hang-up, .orgm-icon-address-book, .orgm-icon-notebook, .orgm-icon-envelop, .orgm-icon-pushpin, .orgm-icon-location, .orgm-icon-location-2, .orgm-icon-compass, .orgm-icon-clock, .orgm-icon-clock-2, .orgm-icon-alarm, .orgm-icon-alarm-2, .orgm-icon-bell, .orgm-icon-stopwatch, .orgm-icon-calendar, .orgm-icon-calendar-2, .orgm-icon-print, .orgm-icon-keyboard, .orgm-icon-screen, .orgm-icon-laptop, .orgm-icon-mobile, .orgm-icon-mobile-2, .orgm-icon-tablet, .orgm-icon-tv, .orgm-icon-drawer, .orgm-icon-drawer-2, .orgm-icon-drawer-3, .orgm-icon-box-add, .orgm-icon-box-remove, .orgm-icon-download-2, .orgm-icon-upload-2, .orgm-icon-disk, .orgm-icon-storage, .orgm-icon-undo, .orgm-icon-redo, .orgm-icon-flip, .orgm-icon-flip-2, .orgm-icon-undo-2, .orgm-icon-redo-2, .orgm-icon-forward-3, .orgm-icon-reply, .orgm-icon-bubble, .orgm-icon-bubbles-2, .orgm-icon-bubble-2, .orgm-icon-bubbles-3, .orgm-icon-bubbles-4, .orgm-icon-user, .orgm-icon-users, .orgm-icon-user-2, .orgm-icon-users-2, .orgm-icon-user-3, .orgm-icon-user-4, .orgm-icon-quotes-left, .orgm-icon-busy, .orgm-icon-spinner, .orgm-icon-spinner-2, .orgm-icon-spinner-3, .orgm-icon-spinner-4, .orgm-icon-spinner-5, .orgm-icon-spinner-6, .orgm-icon-binoculars, .orgm-icon-expand, .orgm-icon-contract, .orgm-icon-expand-2, .orgm-icon-contract-2, .orgm-icon-key, .orgm-icon-lock, .orgm-icon-lock-2, .orgm-icon-unlocked, .orgm-icon-wrench, .orgm-icon-cog-2, .orgm-icon-pie, .orgm-icon-bars, .orgm-icon-bars-2, .orgm-icon-gift, .orgm-icon-food, .orgm-icon-mug, .orgm-icon-meter, .orgm-icon-meter2, .orgm-icon-star, .orgm-icon-star-2, .orgm-icon-heart, .orgm-icon-home-2, .orgm-icon-home-3, .orgm-icon-office, .orgm-icon-newspaper, .orgm-icon-pencil-2, .orgm-icon-quill, .orgm-icon-pen, .orgm-icon-blog, .orgm-icon-droplet, .orgm-icon-paint-format, .orgm-icon-camera-2, .orgm-icon-library, .orgm-icon-bullhorn, .orgm-icon-pawn, .orgm-icon-map, .orgm-icon-map-2, .orgm-icon-history, .orgm-icon-cabinet, .orgm-icon-equalizer, .orgm-icon-settings, .orgm-icon-leaf, .orgm-icon-rocket, .orgm-icon-arrow-right-3, .orgm-icon-arrow-down-right-3, .orgm-icon-arrow-down-3, .orgm-icon-arrow-down-left-3, .orgm-icon-arrow-left-3, .orgm-icon-omega, .orgm-icon-strikethrough, .orgm-icon-indent-increase, .orgm-icon-indent-decrease, .orgm-icon-new-tab, .orgm-icon-embed, .orgm-icon-code, .orgm-icon-console, .orgm-icon-share, .orgm-icon-mail-3, .orgm-icon-sigma, .orgm-icon-insert-template, .orgm-icon-pilcrow, .orgm-icon-left-to-right, .orgm-icon-right-to-left, .orgm-icon-mail-4, .orgm-icon-filter, .orgm-icon-filter-2, .orgm-icon-font, .orgm-icon-arrow-up-left-3, .orgm-icon-arrow-up-3, .orgm-icon-arrow-up-right-3, .orgm-icon-loop-3, .orgm-icon-blocked, .orgm-icon-exit, .orgm-icon-enter, .orgm-icon-spell-check, .orgm-icon-wondering, .orgm-icon-wondering-2, .orgm-icon-neutral, .orgm-icon-neutral-2, .orgm-icon-confused, .orgm-icon-confused-2, .orgm-icon-tongue, .orgm-icon-tongue-2, .orgm-icon-sad, .orgm-icon-sad-2, .orgm-icon-wink, .orgm-icon-wink-2, .orgm-icon-grin, .orgm-icon-grin-2, .orgm-icon-cool, .orgm-icon-cool-2, .orgm-icon-angry, .orgm-icon-angry-2, .orgm-icon-evil, .orgm-icon-evil-2, .orgm-icon-shocked, .orgm-icon-shocked-2, .orgm-icon-wand, .orgm-icon-aid, .orgm-icon-bug, .orgm-icon-key-2, .orgm-icon-trophy, .orgm-icon-glass, .orgm-icon-accessibility, .orgm-icon-road, .orgm-icon-download-3, .orgm-icon-upload-3, .orgm-icon-globe, .orgm-icon-heart-2, .orgm-icon-heart-broken, .orgm-icon-thumbs-up, .orgm-icon-thumbs-up-2, .orgm-icon-happy, .orgm-icon-happy-2, .orgm-icon-signup, .orgm-icon-power-cord, .orgm-icon-switch, .orgm-icon-lightning, .orgm-icon-shield, .orgm-icon-target, .orgm-icon-star-3, .orgm-icon-contrast, .orgm-icon-brightness-contrast, .orgm-icon-brightness-medium, .orgm-icon-bookmarks, .orgm-icon-bookmark, .orgm-icon-list, .orgm-icon-dashboard, .orgm-icon-list-2, .orgm-icon-numbered-list, .orgm-icon-fire, .orgm-icon-lab, .orgm-icon-menu, .orgm-icon-menu-2, .orgm-icon-magnet, .orgm-icon-tree, .orgm-icon-cloud, .orgm-icon-cloud-download, .orgm-icon-cloud-upload, .orgm-icon-airplane, .orgm-icon-briefcase, .orgm-icon-remove-2 {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.orgm-icon-home:before {
	content: "\e000";
}
.orgm-icon-bubbles:before {
	content: "\e002";
}
.orgm-icon-search:before {
	content: "\e001";
}
.orgm-icon-zoom-in:before {
	content: "\e003";
}
.orgm-icon-zoom-out:before {
	content: "\e004";
}
.orgm-icon-cogs:before {
	content: "\e005";
}
.orgm-icon-cog:before {
	content: "\e006";
}
.orgm-icon-hammer:before {
	content: "\e007";
}
.orgm-icon-stats:before {
	content: "\e008";
}
.orgm-icon-remove:before {
	content: "\e009";
}
.orgm-icon-hammer-2:before {
	content: "\e00a";
}
.orgm-icon-truck:before {
	content: "\e00b";
}
.orgm-icon-download:before {
	content: "\e00c";
}
.orgm-icon-upload:before {
	content: "\e00d";
}
.orgm-icon-earth:before {
	content: "\e00e";
}
.orgm-icon-link:before {
	content: "\e00f";
}
.orgm-icon-flag:before {
	content: "\e010";
}
.orgm-icon-attachment:before {
	content: "\e011";
}
.orgm-icon-eye:before {
	content: "\e012";
}
.orgm-icon-eye-blocked:before {
	content: "\e013";
}
.orgm-icon-eye-2:before {
	content: "\e014";
}
.orgm-icon-smiley:before {
	content: "\e015";
}
.orgm-icon-smiley-2:before {
	content: "\e016";
}
.orgm-icon-point-right:before {
	content: "\e017";
}
.orgm-icon-point-down:before {
	content: "\e018";
}
.orgm-icon-point-left:before {
	content: "\e019";
}
.orgm-icon-point-up:before {
	content: "\e01a";
}
.orgm-icon-warning:before {
	content: "\e01b";
}
.orgm-icon-notification:before {
	content: "\e01c";
}
.orgm-icon-question:before {
	content: "\e01d";
}
.orgm-icon-info:before {
	content: "\e01e";
}
.orgm-icon-info-2:before {
	content: "\e01f";
}
.orgm-icon-cancel-circle:before {
	content: "\e020";
}
.orgm-icon-checkmark-circle:before {
	content: "\e021";
}
.orgm-icon-spam:before {
	content: "\e022";
}
.orgm-icon-close:before {
	content: "\e023";
}
.orgm-icon-checkmark:before {
	content: "\e024";
}
.orgm-icon-minus:before {
	content: "\e025";
}
.orgm-icon-checkmark-2:before {
	content: "\e026";
}
.orgm-icon-plus:before {
	content: "\e027";
}
.orgm-icon-play:before {
	content: "\e028";
}
.orgm-icon-pause:before {
	content: "\e029";
}
.orgm-icon-stop:before {
	content: "\e02a";
}
.orgm-icon-backward:before {
	content: "\e02b";
}
.orgm-icon-forward:before {
	content: "\e02c";
}
.orgm-icon-play-2:before {
	content: "\e02d";
}
.orgm-icon-pause-2:before {
	content: "\e02e";
}
.orgm-icon-stop-2:before {
	content: "\e02f";
}
.orgm-icon-backward-2:before {
	content: "\e030";
}
.orgm-icon-forward-2:before {
	content: "\e031";
}
.orgm-icon-first:before {
	content: "\e032";
}
.orgm-icon-last:before {
	content: "\e033";
}
.orgm-icon-previous:before {
	content: "\e034";
}
.orgm-icon-next:before {
	content: "\e035";
}
.orgm-icon-eject:before {
	content: "\e036";
}
.orgm-icon-volume-high:before {
	content: "\e037";
}
.orgm-icon-volume-medium:before {
	content: "\e038";
}
.orgm-icon-volume-low:before {
	content: "\e039";
}
.orgm-icon-volume-mute:before {
	content: "\e03a";
}
.orgm-icon-volume-mute-2:before {
	content: "\e03b";
}
.orgm-icon-volume-increase:before {
	content: "\e03c";
}
.orgm-icon-volume-decrease:before {
	content: "\e03d";
}
.orgm-icon-loop:before {
	content: "\e03e";
}
.orgm-icon-loop-2:before {
	content: "\e03f";
}
.orgm-icon-shuffle:before {
	content: "\e040";
}
.orgm-icon-arrow-up-left:before {
	content: "\e041";
}
.orgm-icon-arrow-up:before {
	content: "\e042";
}
.orgm-icon-arrow-up-right:before {
	content: "\e043";
}
.orgm-icon-arrow-right:before {
	content: "\e044";
}
.orgm-icon-arrow-down-right:before {
	content: "\e045";
}
.orgm-icon-arrow-down:before {
	content: "\e046";
}
.orgm-icon-arrow-down-left:before {
	content: "\e047";
}
.orgm-icon-arrow-left:before {
	content: "\e048";
}
.orgm-icon-arrow-up-left-2:before {
	content: "\e049";
}
.orgm-icon-arrow-up-2:before {
	content: "\e04a";
}
.orgm-icon-arrow-up-right-2:before {
	content: "\e04b";
}
.orgm-icon-arrow-right-2:before {
	content: "\e04c";
}
.orgm-icon-arrow-down-right-2:before {
	content: "\e04d";
}
.orgm-icon-arrow-down-2:before {
	content: "\e04e";
}
.orgm-icon-arrow-down-left-2:before {
	content: "\e04f";
}
.orgm-icon-arrow-left-2:before {
	content: "\e050";
}
.orgm-icon-tab:before {
	content: "\e051";
}
.orgm-icon-checkbox-checked:before {
	content: "\e052";
}
.orgm-icon-checkbox-unchecked:before {
	content: "\e053";
}
.orgm-icon-checkbox-partial:before {
	content: "\e054";
}
.orgm-icon-radio-checked:before {
	content: "\e055";
}
.orgm-icon-radio-unchecked:before {
	content: "\e056";
}
.orgm-icon-crop:before {
	content: "\e057";
}
.orgm-icon-scissors:before {
	content: "\e058";
}
.orgm-icon-text-height:before {
	content: "\e059";
}
.orgm-icon-text-width:before {
	content: "\e05a";
}
.orgm-icon-bold:before {
	content: "\e05b";
}
.orgm-icon-underline:before {
	content: "\e05c";
}
.orgm-icon-italic:before {
	content: "\e05d";
}
.orgm-icon-table:before {
	content: "\e05e";
}
.orgm-icon-table-2:before {
	content: "\e05f";
}
.orgm-icon-paragraph-center:before {
	content: "\e060";
}
.orgm-icon-paragraph-right:before {
	content: "\e061";
}
.orgm-icon-paragraph-left:before {
	content: "\e062";
}
.orgm-icon-paragraph-justify:before {
	content: "\e063";
}
.orgm-icon-paragraph-left-2:before {
	content: "\e064";
}
.orgm-icon-paragraph-center-2:before {
	content: "\e065";
}
.orgm-icon-paragraph-right-2:before {
	content: "\e066";
}
.orgm-icon-paragraph-justify-2:before {
	content: "\e067";
}
.orgm-icon-mail:before {
	content: "\e068";
}
.orgm-icon-mail-2:before {
	content: "\e069";
}
.orgm-icon-google:before {
	content: "\e06a";
}
.orgm-icon-google-plus:before {
	content: "\e06b";
}
.orgm-icon-google-plus-2:before {
	content: "\e06c";
}
.orgm-icon-google-plus-3:before {
	content: "\e06d";
}
.orgm-icon-google-plus-4:before {
	content: "\e06e";
}
.orgm-icon-google-drive:before {
	content: "\e06f";
}
.orgm-icon-facebook:before {
	content: "\e070";
}
.orgm-icon-facebook-2:before {
	content: "\e071";
}
.orgm-icon-facebook-3:before {
	content: "\e072";
}
.orgm-icon-instagram:before {
	content: "\e073";
}
.orgm-icon-twitter:before {
	content: "\e074";
}
.orgm-icon-twitter-2:before {
	content: "\e075";
}
.orgm-icon-twitter-3:before {
	content: "\e076";
}
.orgm-icon-feed:before {
	content: "\e077";
}
.orgm-icon-feed-2:before {
	content: "\e078";
}
.orgm-icon-feed-3:before {
	content: "\e079";
}
.orgm-icon-youtube:before {
	content: "\e07a";
}
.orgm-icon-youtube-2:before {
	content: "\e07b";
}
.orgm-icon-vimeo:before {
	content: "\e07c";
}
.orgm-icon-vimeo2:before {
	content: "\e07d";
}
.orgm-icon-vimeo-2:before {
	content: "\e07e";
}
.orgm-icon-lanyrd:before {
	content: "\e07f";
}
.orgm-icon-flickr:before {
	content: "\e080";
}
.orgm-icon-flickr-2:before {
	content: "\e081";
}
.orgm-icon-flickr-3:before {
	content: "\e082";
}
.orgm-icon-flickr-4:before {
	content: "\e083";
}
.orgm-icon-picassa:before {
	content: "\e084";
}
.orgm-icon-picassa-2:before {
	content: "\e085";
}
.orgm-icon-dribbble:before {
	content: "\e086";
}
.orgm-icon-dribbble-2:before {
	content: "\e087";
}
.orgm-icon-dribbble-3:before {
	content: "\e088";
}
.orgm-icon-forrst:before {
	content: "\e089";
}
.orgm-icon-forrst-2:before {
	content: "\e08a";
}
.orgm-icon-deviantart:before {
	content: "\e08b";
}
.orgm-icon-deviantart-2:before {
	content: "\e08c";
}
.orgm-icon-steam:before {
	content: "\e08d";
}
.orgm-icon-steam-2:before {
	content: "\e08e";
}
.orgm-icon-github:before {
	content: "\e08f";
}
.orgm-icon-github-2:before {
	content: "\e090";
}
.orgm-icon-github-3:before {
	content: "\e091";
}
.orgm-icon-github-4:before {
	content: "\e092";
}
.orgm-icon-github-5:before {
	content: "\e093";
}
.orgm-icon-wordpress:before {
	content: "\e094";
}
.orgm-icon-wordpress-2:before {
	content: "\e095";
}
.orgm-icon-joomla:before {
	content: "\e096";
}
.orgm-icon-blogger:before {
	content: "\e097";
}
.orgm-icon-blogger-2:before {
	content: "\e098";
}
.orgm-icon-tumblr:before {
	content: "\e099";
}
.orgm-icon-tumblr-2:before {
	content: "\e09a";
}
.orgm-icon-yahoo:before {
	content: "\e09b";
}
.orgm-icon-tux:before {
	content: "\e09c";
}
.orgm-icon-apple:before {
	content: "\e09d";
}
.orgm-icon-finder:before {
	content: "\e09e";
}
.orgm-icon-android:before {
	content: "\e09f";
}
.orgm-icon-windows:before {
	content: "\e0a0";
}
.orgm-icon-windows8:before {
	content: "\e0a1";
}
.orgm-icon-soundcloud:before {
	content: "\e0a2";
}
.orgm-icon-soundcloud-2:before {
	content: "\e0a3";
}
.orgm-icon-skype:before {
	content: "\e0a4";
}
.orgm-icon-reddit:before {
	content: "\e0a5";
}
.orgm-icon-linkedin:before {
	content: "\e0a6";
}
.orgm-icon-lastfm:before {
	content: "\e0a7";
}
.orgm-icon-lastfm-2:before {
	content: "\e0a8";
}
.orgm-icon-delicious:before {
	content: "\e0a9";
}
.orgm-icon-stumbleupon:before {
	content: "\e0aa";
}
.orgm-icon-stumbleupon-2:before {
	content: "\e0ab";
}
.orgm-icon-stackoverflow:before {
	content: "\e0ac";
}
.orgm-icon-pinterest:before {
	content: "\e0ad";
}
.orgm-icon-pinterest-2:before {
	content: "\e0ae";
}
.orgm-icon-xing:before {
	content: "\e0af";
}
.orgm-icon-xing-2:before {
	content: "\e0b0";
}
.orgm-icon-flattr:before {
	content: "\e0b1";
}
.orgm-icon-foursquare:before {
	content: "\e0b2";
}
.orgm-icon-foursquare-2:before {
	content: "\e0b3";
}
.orgm-icon-paypal:before {
	content: "\e0b4";
}
.orgm-icon-paypal-2:before {
	content: "\e0b5";
}
.orgm-icon-paypal-3:before {
	content: "\e0b6";
}
.orgm-icon-yelp:before {
	content: "\e0b7";
}
.orgm-icon-libreoffice:before {
	content: "\e0b8";
}
.orgm-icon-file-pdf:before {
	content: "\e0b9";
}
.orgm-icon-file-openoffice:before {
	content: "\e0ba";
}
.orgm-icon-file-word:before {
	content: "\e0bb";
}
.orgm-icon-file-excel:before {
	content: "\e0bc";
}
.orgm-icon-file-zip:before {
	content: "\e0bd";
}
.orgm-icon-file-powerpoint:before {
	content: "\e0be";
}
.orgm-icon-file-xml:before {
	content: "\e0bf";
}
.orgm-icon-file-css:before {
	content: "\e0c0";
}
.orgm-icon-html5:before {
	content: "\e0c1";
}
.orgm-icon-html5-2:before {
	content: "\e0c2";
}
.orgm-icon-css3:before {
	content: "\e0c3";
}
.orgm-icon-chrome:before {
	content: "\e0c4";
}
.orgm-icon-firefox:before {
	content: "\e0c5";
}
.orgm-icon-IE:before {
	content: "\e0c6";
}
.orgm-icon-opera:before {
	content: "\e0c7";
}
.orgm-icon-safari:before {
	content: "\e0c8";
}
.orgm-icon-IcoMoon:before {
	content: "\e0c9";
}
.orgm-icon-pencil:before {
	content: "\e0ca";
}
.orgm-icon-image:before {
	content: "\e0cb";
}
.orgm-icon-image-2:before {
	content: "\e0cc";
}
.orgm-icon-images:before {
	content: "\e0cd";
}
.orgm-icon-music:before {
	content: "\e0ce";
}
.orgm-icon-headphones:before {
	content: "\e0cf";
}
.orgm-icon-play-3:before {
	content: "\e0d0";
}
.orgm-icon-film:before {
	content: "\e0d1";
}
.orgm-icon-camera:before {
	content: "\e0d2";
}
.orgm-icon-dice:before {
	content: "\e0d3";
}
.orgm-icon-pacman:before {
	content: "\e0d4";
}
.orgm-icon-spades:before {
	content: "\e0d5";
}
.orgm-icon-diamonds:before {
	content: "\e0d6";
}
.orgm-icon-clubs:before {
	content: "\e0d7";
}
.orgm-icon-connection:before {
	content: "\e0d8";
}
.orgm-icon-podcast:before {
	content: "\e0d9";
}
.orgm-icon-feed-4:before {
	content: "\e0da";
}
.orgm-icon-book:before {
	content: "\e0db";
}
.orgm-icon-books:before {
	content: "\e0dc";
}
.orgm-icon-file:before {
	content: "\e0dd";
}
.orgm-icon-profile:before {
	content: "\e0de";
}
.orgm-icon-file-2:before {
	content: "\e0df";
}
.orgm-icon-file-3:before {
	content: "\e0e0";
}
.orgm-icon-file-4:before {
	content: "\e0e1";
}
.orgm-icon-copy:before {
	content: "\e0e2";
}
.orgm-icon-copy-2:before {
	content: "\e0e3";
}
.orgm-icon-copy-3:before {
	content: "\e0e4";
}
.orgm-icon-paste:before {
	content: "\e0e5";
}
.orgm-icon-paste-2:before {
	content: "\e0e6";
}
.orgm-icon-paste-3:before {
	content: "\e0e7";
}
.orgm-icon-stack:before {
	content: "\e0e8";
}
.orgm-icon-folder:before {
	content: "\e0e9";
}
.orgm-icon-folder-open:before {
	content: "\e0ea";
}
.orgm-icon-tag:before {
	content: "\e0eb";
}
.orgm-icon-tags:before {
	content: "\e0ec";
}
.orgm-icon-barcode:before {
	content: "\e0ed";
}
.orgm-icon-qrcode:before {
	content: "\e0ee";
}
.orgm-icon-ticket:before {
	content: "\e0ef";
}
.orgm-icon-cart:before {
	content: "\e0f0";
}
.orgm-icon-cart-2:before {
	content: "\e0f1";
}
.orgm-icon-cart-3:before {
	content: "\e0f2";
}
.orgm-icon-coin:before {
	content: "\e0f3";
}
.orgm-icon-credit:before {
	content: "\e0f4";
}
.orgm-icon-calculate:before {
	content: "\e0f5";
}
.orgm-icon-support:before {
	content: "\e0f6";
}
.orgm-icon-phone:before {
	content: "\e0f7";
}
.orgm-icon-phone-hang-up:before {
	content: "\e0f8";
}
.orgm-icon-address-book:before {
	content: "\e0f9";
}
.orgm-icon-notebook:before {
	content: "\e0fa";
}
.orgm-icon-envelop:before {
	content: "\e0fb";
}
.orgm-icon-pushpin:before {
	content: "\e0fc";
}
.orgm-icon-location:before {
	content: "\e0fd";
}
.orgm-icon-location-2:before {
	content: "\e0fe";
}
.orgm-icon-compass:before {
	content: "\e0ff";
}
.orgm-icon-clock:before {
	content: "\e100";
}
.orgm-icon-clock-2:before {
	content: "\e101";
}
.orgm-icon-alarm:before {
	content: "\e102";
}
.orgm-icon-alarm-2:before {
	content: "\e103";
}
.orgm-icon-bell:before {
	content: "\e104";
}
.orgm-icon-stopwatch:before {
	content: "\e105";
}
.orgm-icon-calendar:before {
	content: "\e106";
}
.orgm-icon-calendar-2:before {
	content: "\e107";
}
.orgm-icon-print:before {
	content: "\e108";
}
.orgm-icon-keyboard:before {
	content: "\e109";
}
.orgm-icon-screen:before {
	content: "\e10a";
}
.orgm-icon-laptop:before {
	content: "\e10b";
}
.orgm-icon-mobile:before {
	content: "\e10c";
}
.orgm-icon-mobile-2:before {
	content: "\e10d";
}
.orgm-icon-tablet:before {
	content: "\e10e";
}
.orgm-icon-tv:before {
	content: "\e10f";
}
.orgm-icon-drawer:before {
	content: "\e110";
}
.orgm-icon-drawer-2:before {
	content: "\e111";
}
.orgm-icon-drawer-3:before {
	content: "\e112";
}
.orgm-icon-box-add:before {
	content: "\e113";
}
.orgm-icon-box-remove:before {
	content: "\e114";
}
.orgm-icon-download-2:before {
	content: "\e115";
}
.orgm-icon-upload-2:before {
	content: "\e116";
}
.orgm-icon-disk:before {
	content: "\e117";
}
.orgm-icon-storage:before {
	content: "\e118";
}
.orgm-icon-undo:before {
	content: "\e119";
}
.orgm-icon-redo:before {
	content: "\e11a";
}
.orgm-icon-flip:before {
	content: "\e11b";
}
.orgm-icon-flip-2:before {
	content: "\e11c";
}
.orgm-icon-undo-2:before {
	content: "\e11d";
}
.orgm-icon-redo-2:before {
	content: "\e11e";
}
.orgm-icon-forward-3:before {
	content: "\e11f";
}
.orgm-icon-reply:before {
	content: "\e120";
}
.orgm-icon-bubble:before {
	content: "\e121";
}
.orgm-icon-bubbles-2:before {
	content: "\e122";
}
.orgm-icon-bubble-2:before {
	content: "\e123";
}
.orgm-icon-bubbles-3:before {
	content: "\e124";
}
.orgm-icon-bubbles-4:before {
	content: "\e125";
}
.orgm-icon-user:before {
	content: "\e126";
}
.orgm-icon-users:before {
	content: "\e127";
}
.orgm-icon-user-2:before {
	content: "\e128";
}
.orgm-icon-users-2:before {
	content: "\e129";
}
.orgm-icon-user-3:before {
	content: "\e12a";
}
.orgm-icon-user-4:before {
	content: "\e12b";
}
.orgm-icon-quotes-left:before {
	content: "\e12c";
}
.orgm-icon-busy:before {
	content: "\e12d";
}
.orgm-icon-spinner:before {
	content: "\e12e";
}
.orgm-icon-spinner-2:before {
	content: "\e12f";
}
.orgm-icon-spinner-3:before {
	content: "\e130";
}
.orgm-icon-spinner-4:before {
	content: "\e131";
}
.orgm-icon-spinner-5:before {
	content: "\e132";
}
.orgm-icon-spinner-6:before {
	content: "\e133";
}
.orgm-icon-binoculars:before {
	content: "\e134";
}
.orgm-icon-expand:before {
	content: "\e135";
}
.orgm-icon-contract:before {
	content: "\e136";
}
.orgm-icon-expand-2:before {
	content: "\e137";
}
.orgm-icon-contract-2:before {
	content: "\e138";
}
.orgm-icon-key:before {
	content: "\e13a";
}
.orgm-icon-lock:before {
	content: "\e139";
}
.orgm-icon-lock-2:before {
	content: "\e13b";
}
.orgm-icon-unlocked:before {
	content: "\e13c";
}
.orgm-icon-wrench:before {
	content: "\e13d";
}
.orgm-icon-cog-2:before {
	content: "\e13e";
}
.orgm-icon-pie:before {
	content: "\e13f";
}
.orgm-icon-bars:before {
	content: "\e140";
}
.orgm-icon-bars-2:before {
	content: "\e141";
}
.orgm-icon-gift:before {
	content: "\e142";
}
.orgm-icon-food:before {
	content: "\e143";
}
.orgm-icon-mug:before {
	content: "\e144";
}
.orgm-icon-meter:before {
	content: "\e145";
}
.orgm-icon-meter2:before {
	content: "\e146";
}
.orgm-icon-star:before {
	content: "\e147";
}
.orgm-icon-star-2:before {
	content: "\e148";
}
.orgm-icon-heart:before {
	content: "\e149";
}
.orgm-icon-home-2:before {
	content: "\e14a";
}
.orgm-icon-home-3:before {
	content: "\e14b";
}
.orgm-icon-office:before {
	content: "\e14c";
}
.orgm-icon-newspaper:before {
	content: "\e14d";
}
.orgm-icon-pencil-2:before {
	content: "\e14e";
}
.orgm-icon-quill:before {
	content: "\e14f";
}
.orgm-icon-pen:before {
	content: "\e150";
}
.orgm-icon-blog:before {
	content: "\e151";
}
.orgm-icon-droplet:before {
	content: "\e152";
}
.orgm-icon-paint-format:before {
	content: "\e153";
}
.orgm-icon-camera-2:before {
	content: "\e154";
}
.orgm-icon-library:before {
	content: "\e155";
}
.orgm-icon-bullhorn:before {
	content: "\e156";
}
.orgm-icon-pawn:before {
	content: "\e157";
}
.orgm-icon-map:before {
	content: "\e158";
}
.orgm-icon-map-2:before {
	content: "\e159";
}
.orgm-icon-history:before {
	content: "\e15a";
}
.orgm-icon-cabinet:before {
	content: "\e15b";
}
.orgm-icon-equalizer:before {
	content: "\e15c";
}
.orgm-icon-settings:before {
	content: "\e15d";
}
.orgm-icon-leaf:before {
	content: "\e15e";
}
.orgm-icon-rocket:before {
	content: "\e15f";
}
.orgm-icon-arrow-right-3:before {
	content: "\e160";
}
.orgm-icon-arrow-down-right-3:before {
	content: "\e161";
}
.orgm-icon-arrow-down-3:before {
	content: "\e162";
}
.orgm-icon-arrow-down-left-3:before {
	content: "\e163";
}
.orgm-icon-arrow-left-3:before {
	content: "\e164";
}
.orgm-icon-omega:before {
	content: "\e165";
}
.orgm-icon-strikethrough:before {
	content: "\e166";
}
.orgm-icon-indent-increase:before {
	content: "\e167";
}
.orgm-icon-indent-decrease:before {
	content: "\e168";
}
.orgm-icon-new-tab:before {
	content: "\e169";
}
.orgm-icon-embed:before {
	content: "\e16a";
}
.orgm-icon-code:before {
	content: "\e16b";
}
.orgm-icon-console:before {
	content: "\e16c";
}
.orgm-icon-share:before {
	content: "\e16d";
}
.orgm-icon-mail-3:before {
	content: "\e16e";
}
.orgm-icon-sigma:before {
	content: "\e16f";
}
.orgm-icon-insert-template:before {
	content: "\e170";
}
.orgm-icon-pilcrow:before {
	content: "\e171";
}
.orgm-icon-left-to-right:before {
	content: "\e172";
}
.orgm-icon-right-to-left:before {
	content: "\e173";
}
.orgm-icon-mail-4:before {
	content: "\e174";
}
.orgm-icon-filter:before {
	content: "\e175";
}
.orgm-icon-filter-2:before {
	content: "\e176";
}
.orgm-icon-font:before {
	content: "\e177";
}
.orgm-icon-arrow-up-left-3:before {
	content: "\e178";
}
.orgm-icon-arrow-up-3:before {
	content: "\e179";
}
.orgm-icon-arrow-up-right-3:before {
	content: "\e17a";
}
.orgm-icon-loop-3:before {
	content: "\e17b";
}
.orgm-icon-blocked:before {
	content: "\e17c";
}
.orgm-icon-exit:before {
	content: "\e17d";
}
.orgm-icon-enter:before {
	content: "\e17e";
}
.orgm-icon-spell-check:before {
	content: "\e17f";
}
.orgm-icon-wondering:before {
	content: "\e180";
}
.orgm-icon-wondering-2:before {
	content: "\e181";
}
.orgm-icon-neutral:before {
	content: "\e182";
}
.orgm-icon-neutral-2:before {
	content: "\e183";
}
.orgm-icon-confused:before {
	content: "\e184";
}
.orgm-icon-confused-2:before {
	content: "\e185";
}
.orgm-icon-tongue:before {
	content: "\e186";
}
.orgm-icon-tongue-2:before {
	content: "\e187";
}
.orgm-icon-sad:before {
	content: "\e188";
}
.orgm-icon-sad-2:before {
	content: "\e189";
}
.orgm-icon-wink:before {
	content: "\e18a";
}
.orgm-icon-wink-2:before {
	content: "\e18b";
}
.orgm-icon-grin:before {
	content: "\e18c";
}
.orgm-icon-grin-2:before {
	content: "\e18d";
}
.orgm-icon-cool:before {
	content: "\e18e";
}
.orgm-icon-cool-2:before {
	content: "\e18f";
}
.orgm-icon-angry:before {
	content: "\e190";
}
.orgm-icon-angry-2:before {
	content: "\e191";
}
.orgm-icon-evil:before {
	content: "\e192";
}
.orgm-icon-evil-2:before {
	content: "\e193";
}
.orgm-icon-shocked:before {
	content: "\e194";
}
.orgm-icon-shocked-2:before {
	content: "\e195";
}
.orgm-icon-wand:before {
	content: "\e196";
}
.orgm-icon-aid:before {
	content: "\e197";
}
.orgm-icon-bug:before {
	content: "\e198";
}
.orgm-icon-key-2:before {
	content: "\e199";
}
.orgm-icon-trophy:before {
	content: "\e19a";
}
.orgm-icon-glass:before {
	content: "\e19b";
}
.orgm-icon-accessibility:before {
	content: "\e19c";
}
.orgm-icon-road:before {
	content: "\e19d";
}
.orgm-icon-download-3:before {
	content: "\e19e";
}
.orgm-icon-upload-3:before {
	content: "\e19f";
}
.orgm-icon-globe:before {
	content: "\e1a0";
}
.orgm-icon-heart-2:before {
	content: "\e1a1";
}
.orgm-icon-heart-broken:before {
	content: "\e1a2";
}
.orgm-icon-thumbs-up:before {
	content: "\e1a3";
}
.orgm-icon-thumbs-up-2:before {
	content: "\e1a4";
}
.orgm-icon-happy:before {
	content: "\e1a5";
}
.orgm-icon-happy-2:before {
	content: "\e1a6";
}
.orgm-icon-signup:before {
	content: "\e1a7";
}
.orgm-icon-power-cord:before {
	content: "\e1a8";
}
.orgm-icon-switch:before {
	content: "\e1a9";
}
.orgm-icon-lightning:before {
	content: "\e1aa";
}
.orgm-icon-shield:before {
	content: "\e1ab";
}
.orgm-icon-target:before {
	content: "\e1ac";
}
.orgm-icon-star-3:before {
	content: "\e1ad";
}
.orgm-icon-contrast:before {
	content: "\e1ae";
}
.orgm-icon-brightness-contrast:before {
	content: "\e1af";
}
.orgm-icon-brightness-medium:before {
	content: "\e1b0";
}
.orgm-icon-bookmarks:before {
	content: "\e1b1";
}
.orgm-icon-bookmark:before {
	content: "\e1b2";
}
.orgm-icon-list:before {
	content: "\e1b3";
}
.orgm-icon-dashboard:before {
	content: "\e1b4";
}
.orgm-icon-list-2:before {
	content: "\e1b5";
}
.orgm-icon-numbered-list:before {
	content: "\e1b6";
}
.orgm-icon-fire:before {
	content: "\e1b7";
}
.orgm-icon-lab:before {
	content: "\e1b8";
}
.orgm-icon-menu:before {
	content: "\e1b9";
}
.orgm-icon-menu-2:before {
	content: "\e1ba";
}
.orgm-icon-magnet:before {
	content: "\e1bb";
}
.orgm-icon-tree:before {
	content: "\e1bc";
}
.orgm-icon-cloud:before {
	content: "\e1bd";
}
.orgm-icon-cloud-download:before {
	content: "\e1be";
}
.orgm-icon-cloud-upload:before {
	content: "\e1bf";
}
.orgm-icon-airplane:before {
	content: "\e1c0";
}
.orgm-icon-briefcase:before {
	content: "\e1c1";
}
.orgm-icon-remove-2:before {
	content: "\e1c2";
}
